<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <div style="text-align: center;">
    <h1>List of posts</h1>    
  </div>
    <table style="width:100%" border="1">
      <tr>
        <th>ID</th>
        <th>Title</th> 
        <th>Body</th>
        <th>Action</th>
      </tr>
    <% for(var i=0;i<products.length;i++){%>
      <tr>
        <td><%=products[i].id%></td>
        <td><%=products[i].title%></td>
        <td><%=products[i].body%></td>
        <td><a href="item/<%=products[i].id%>">View More</a></td>
      </tr> 
     <%}%>     
    </table>
  </body>
</html>
