<!DOCTYPE html>
<html>
  <head>
    <title>Display Post</title>
  </head>
  <body>
    <div style="text-align: center">
      <h1>Post Details</h1>
    </div>
    <div><a href="/">Back</a></div>
    <br />
    <table style="width: 100%" border="1">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
      </tr>
      <tr>
        <td><%=products.id%></td>
        <td><%=products.title%></td>
        <td><%=products.body%></td>
      </tr>
    </table>
  </body>
</html>
